
main{
    padding: 20px;
    background-color: #faf0e6;
    margin: 0;
    padding-top: 76px;

}

.libertinus-sans-regular {
    font-family: "Libertinus Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #1a1a1a;
    font-size: 70px;
}

.Show {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.imageHOME {
    text-align: center;
}

figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -50px;
}

.sich{
    width: 500px;
}

.blok-section {
    text-align: center; /* центр заголовка */
    padding: 20px;
}

.center-content img {
    width: 290px;
    height: auto;
    flex-shrink: 0;
}


.gideon-roman-regular {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
