
main{
    background-color: #faf0e6;
    margin: 0;
    padding-top: 76px;

}

/*.libertinus-sans-regular {*/
/*    font-family: "Libertinus Sans", sans-serif;*/
/*    font-weight: 1000;*/
/*    font-style: normal;*/
/*    color: #faf0e6;*/
/*    font-size: 90px;*/
/*}*/

h1 {
    font-family: fantasy;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 240px;
    font-size: 150px;
}

.Show {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

.book-header-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
}

.book-header-container.potter {
    background-image: url("/static/potter/fon_harry.jpg");
}

.book-header-container.throne {
    background-image: url("/static/glass/fon.webp");
}

.book-header-container.mistborn {
    background-image: url("/static/mistborn/mistborn.jpg");
}
.book-header-container.poppy {
    background-image: url("/static/poppy/poppy.jpg");
}
.book-header-container.gamethrone {
    background-image: url("/static/gamethrone/gamethrone.jpg");
}
.book-header-container.stormlight {
    background-image: url("/static/stormlight/stormlight.jpg");
}


/*.content_glass {
    text-align: center;
    filter: blur(1px) grayscale(3%) brightness(70%);
    object-fit: cover;
    max-width: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/static/glass/fon.webp");
}*/

.article {
    max-width: 737px;
    text-align: justify;
    line-height: 1.5;
    margin-left: auto;
    margin: 0 auto;
    padding-top: 210px;
    color: #faf0e6;
}

figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -50px;
}

/*.sich{
   max-width: 500px;
/*}*/

.blok-section {
    text-align: center; /* центр заголовка */
    padding: 20px;
}

.center-content img {
    width: 290px;
    height: auto;
    flex-shrink: 0;
}


.gideon-roman-regular {
  font-family: "Gideon Roman", serif;
  font-weight: 400;
  font-style: normal;
}

.bad-script-regular {
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
