    <section class="banner">
      <div class="content_glass">
        <h1 class="libertinus-sans-regular text-center table-group-divider p-4 alert-link display-3">{{ book_name }}</h1>
        <img src="">

        <!-- <div class="imageHOME">
          <img class="rounded-bottom-circle shadow-lg form-control-lg m-lg-auto m-xl-4"
               src="{{ book_img }}" style="max-width: 1300px">
        </div>-->
      </div>
    </section>

    <section>
      <figure class="grid grid-1">
        <img class="sich" src="/static/glass/sich.png" alt="">
      </figure>
      <h2 class="Show text-lg-center">Description</h2>
    </section>

    <section>
      <p class="article gideon-roman-regular mt-lg-4">
        {{ book_description }}
      </p>
    </section>