{% extends "layout.html" %}
{% block header %}
  <link href="/static/booklist.css" rel="stylesheet">
{% endblock %}

{% block body %}
  <main>

    <div class="blok-list container">
      <h1 class="allbook col gideon-roman-regular pb-4">All Book</h1>
      <div id="genres" class="pb-5 gideon-roman-regular">
        <a class="button_genre rounded-5 btn bg-danger-subtle" href="{{ url_for('booklist', genre='all') }}">All</a>
        {% for genre in all_genres %}
          <a class="button_genre rounded-5 btn bg-danger-subtle"
             href="{{ url_for('booklist', genre=genre['id']) }}"
          >{{ genre['name'] }}</a>
        {% endfor %}
      </div>

      <div class="container text-center">
        <div class="row">
          {% for book in booklist %}
            <div class="col">
              <a href="{{ url_for('book_inside', book_id=book['id']) }}">
                <img src="{{ book['bookimg'] }}" style="width: 200px; height: 300px;">
              </a>
              <div id="bookname" class="bad-script-regular">
                <a href="{{ url_for('book_inside', book_id=book['id']) }}">
                  {{ book['bookname'] }}
                </a>
              </div>
              <div id="autor" class="gideon-roman-regular pb-lg-5">
                {{ book['autor'] }}
              </div>
            </div>
          {% endfor %}
        </div>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page > 1 %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('booklist', page=page-1) }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for p in range(1, total_pages + 1) %}
              <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('booklist', page=p) }}">{{ p }}</a>

              </li>
            {% endfor %}
            {% if page < total_pages %}
              <li class="page-item">
                <a class="page-link" href="{{ url_for('booklist', page=page + 1) }}">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>


    </div>
  </main>

{% endblock %}