{% extends "layout.html" %}
{% block header %}
  <link href="/static/history-style.css" rel="stylesheet">
  <script src="/static/historypage.js"></script>
{% endblock %}


{% block body %}
  <main>
    <div class="container-background">
      <section class="block-history pb-3">
        <div class="title-page">
          <h1>The inner world of a book</h1>
        </div>

        <select id="select-history" class="form-history form-select text-center form-select-lg m-auto rounded-3"
                aria-label="Default select example">
          <option value="0" selected>Mistborn</option>
          <option value="1">Harry Potter</option>
          <option value="2">The Poppy War</option>
          <option value="3">A Song of Ice and Fire</option>
          <option value="4">The Stormlight Archives</option>
        </select>

        <div id="carousel-0" class="card carousel slide my-md-5 d-block">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/mistborn/lutadel.webp" class="d-block mx-auto" alt="Mistborn"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Map Scadrial </h5>
                <p class="title-card-text card-text">The people here live under the Lord Ruler, an immortal king that
                  presides over all known lands. Long ago, the Lord Ruler defeated a great evil and ascended to godhood,
                  becoming the Sliver of
                  Infinity. He remade the world as he saw fit, elevating those who supported him while casting out those
                  who opposed him. From the many cultures of Scadrial he formed a hierarchy that persists to this day,
                  crushing all efforts of rebellion or dissent under his incredible might.</p>
                <a href="{{ url_for('mistborn') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Mistborn</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/mistborn/lutadetown.png" class="d-block mx-auto" alt="Mistborn" width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Luthadel</h5>
                <p class="title-card-text card-text">Home to the Lord Ruler, its structures are Gothic in style, and it
                  is considered the most fortified and powerful city on Scadrial. This is, of course, thanks to the Lord
                  Ruler. Surrounding the city, within its walls, are gates placed at regular intervals, each crafted
                  from a primary metal: copper, brass, pewter, zinc, and others.
                  Like all major cities in the Final Empire, Luthadel was built near a number of mines, thus hampering
                  the ability of Ruin to monitor the establishment of the Lord Ruler's stockpiles.</p>
                <a href="{{ url_for('mistborn') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Mistborn</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/mistborn/allomant.webp" class="d-block mx-auto" alt="Mistborn"
                   width="100%" height="1083.140">
              <div class="card-body">
                <h5 class="card-title text-center">Allomantic Metal</h5>
                <p class="title-card-text card-text">Allomantic Metals are substances used to fuel Allomancy, a power
                  that allows users (Mistborn or Mistings) to gain various physical, mental, and temporal abilities by
                  "burning" the ingested metal, which acts as a conduit for power. There are 16 base metals, often
                  grouped into Internal/External and Push/Pull categories within four broader groups: Physical, Mental,
                  Temporal, and Enhancement. Burning a metal causes a warm feeling in the stomach and vaporizes the
                  metal, making it a consumable resource. </p>
                <a href="{{ url_for('mistborn') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Mistborn</small></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-0"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-0"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div id="carousel-1" class="card carousel slide my-md-5 d-none">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/potter/Wizarding_Schools_Map_LR.webp" class="d-block mx-auto" alt="Harry Potter"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Wizarding World</h5>
                <p class="title-card-text card-text">The wizarding world, also referred to as the magical community, was
                  the society in which wizards and witches lived and interacted, separate from non-wizarding society.
                  The two communities were kept separate through the use of charms, spells, and secrecy. Wizards were
                  forbidden to reveal anything about magic to Muggle society due to the International Statute of
                  Wizarding Secrecy.

                  Each country had a form of wizarding government to oversee magical affairs in their territory, such as
                  a Ministry of Magic or a Council of Magic. The International Confederation of Wizards served as a
                  wizarding intergovernmental organisation.</p>
                <a href="{{ url_for('potter') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Harry Potter</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/potter/maroder.jpg" class="d-block mx-auto" alt="Harry Potter" width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Marauders map</h5>
                <p class="title-card-text card-text">The Marauder's Map was a magical document that revealed all of
                  Hogwarts School of Witchcraft and Wizardry. Not only did it show every classroom, every hallway, and
                  every corner of the castle, but it also showed every inch of the grounds, as well as all the secret
                  passages that were hidden within its walls and the location of every person in the grounds, portrayed
                  by a dot.

                  It was also capable of accurately identifying each person, and was not fooled by Animagi, Polyjuice
                  Potions, or Invisibility Cloaks; even the Hogwarts ghosts or Peeves were not exempt. Nor were animals,
                  such as the caretaker's cat.</p>
                <a href="{{ url_for('potter') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Harry Potter</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/potter/Founders_Hero.png" class="d-block mx-auto" alt="Harry Potter"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Hogwarts founders</h5>
                <p class="title-card-text card-text">The Hogwarts founders, also known as the Hogwarts Four, were a
                  quartet of witches and wizards who established Hogwarts School of Witchcraft and Wizardry during the
                  medieval era, in the 10th century. These four founders, Godric Gryffindor, Helga Hufflepuff, Rowena
                  Ravenclaw, and Salazar Slytherin, were widely described as being the most brilliant witches and
                  wizards of the time.

                  Each of them created their own House in Hogwarts: Gryffindor, Hufflepuff, Ravenclaw, and Slytherin
                  respectively. Students were divided up into these Houses based on the virtues that each of the
                  founders valued most in their students. They laid the foundations for the largest and most prestigious
                  Wizarding school in Britain.</p>
                <a href="{{ url_for('potter') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">Harry Potter</small></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-1"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div id="carousel-2" class="card carousel slide my-md-5 d-none">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/poppy/poppemap.avif" class="d-block mx-auto" alt="The Poppy War"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">The Poppy War Map</h5>
                <p class="title-card-text card-text">Nikan is a vast empire located south of the Hinterlands, and is the
                  primary setting of The Poppy War. Nikan is inspired by the
                  geographic and military history of China. Nikan's history has been described as "a highly entertaining
                  saga of constant warfare". The Empire was formed a millennium before the timeline of The Poppy War,
                  after the Red Emperor unified multiple monastic peoples across the continent. Nikan used to span half
                  the continent under the Red Emperor. The Old Nikara Empire has been called the birthplace of modern
                  civilization, the center of the world.</p>
                <a href="{{ url_for('poppy') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">The Poppy War</small></p>
              </div>
            </div>
          </div>
        </div>

        <div id="carousel-3" class="card carousel slide my-md-5 d-none">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/gamethrone/map-ice-fare.jpg" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">A Song of Ice and Fire Map</h5>
                <p class="title-card-text card-text">The known world is composed of at least three continents
                  (Westeros, Essos, and Sothoryos), a large landmass (Ulthos), and a number of many smaller islands.
                  None of the four major landmasses have been completely mapped, and much of the world remains
                  unexplored.
                  Located in the far west of the known world, the continent of Westeros is long and relatively narrow,
                  extending from Dorne in the south to the Lands of Always Winter in the far north. The Wall, the border
                  between the Seven Kingdoms and lands beyond the Wall to the north, is 300 miles long, North of the
                  Wall, much
                  land remains uncharted.</p>
                <a href="{{ url_for('gamethrone') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">A Song of Ice and Fire</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/gamethrone/mapgate.jpeg" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">King's Landing</h5>
                <p class="title-card-text card-text">King's Landing is the capital of the Seven Kingdoms, located in the
                  crownlands on the east coast of Westeros. It is situated along the kingsroad at the mouth of the
                  Blackwater Rush and overlooks Blackwater Bay. King's Landing is the site of the Iron Throne and the
                  Red Keep, which is the seat of the king, Robert I from House Baratheon of King's Landing.

                  The main city is surrounded by a wall, manned by the City Watch of King's Landing, also known as the
                  gold cloaks. King's Landing is the most populous city in Westeros, but unsightly and dirty compared
                  to other cities. </p>
                <a href="{{ url_for('gamethrone') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">A Song of Ice and Fire</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/gamethrone/Valyria.png" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Valyria Map</h5>
                <p class="title-card-text card-text">Valyria, also called Old Valyria, is a ruined city in Essos. It is
                  a long-dead city of wonderment, and was once the capital of a great empire called the Valyrian
                  Freehold. It was destroyed by a cataclysmic event known as the Doom of Valyria a century before
                  Aegon's Landing. It is the ancestral home of House Targaryen, House Celtigar, and House
                  Velaryon.
                  Valyria was on the Valyrian peninsula, which extended into the Summer Sea. The Doom of Valyria
                  shattered the peninsula, separating the city of Valyria from the Lands of the Long Summer by the
                  Smoking Sea. </p>
                <a href="{{ url_for('gamethrone') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">A Song of Ice and Fire</small></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-3"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-3"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div id="carousel-4" class="card carousel slide my-md-5 d-none">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/stormlight/Silver_Kingdoms.webp" class="d-block mx-auto" alt="The Stormlight Archives"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Roshar Map</h5>
                <p class="title-card-text card-text">The world is Roshar. The map shows a time period of great
                  prosperity in the world, and as the story unfolds, you begin to understand the changes and
                  degeneration that has occurred throughout the centuries.
                  The climate, terrain, flora, and fauna are all unique. Roshar is commonly besieged by highstorms that
                  always blow east to west. These storms are violent and tumultuous, and they contain enough force to
                  blow large boulders through the air. Because of these common storms, most of the land has no topsoil,
                  and the plant life has evolved to become quite hearty and in some ways mobile. Grasses and vines are
                  able to react to stimulus and retreat into the earth when threatened, and other plants, such as tress,
                  can fold their branches. Additionally, the animal life is mostly crustacean based. Giant crablike
                  creatures, called chulls, pull wagons as would a horse/ox/donkey on Earth. People keep axehounds as
                  pets, which are like weird alien hybrids of a dog and a crustacean. Like the plant life, the animals
                  have evolved hearty shells to protect against the highstorms. Another unique element is the seasons
                  are unpredictable and do not follow a regular pattern like on Earth. For example, Roshar may get two
                  weeks of winter followed by three weeks of spring, and then a few weeks of autumn. It appears that the
                  seasons shift at random and only last a few weeks typically.
                </p>
                <a href="{{ url_for('stormlight') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">The Stormlight Archives</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/stormlight/warcamps.webp" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Warcamp</h5>
                <p class="title-card-text card-text">A warcamp is the domain of an Alethi highprince, his retainers, his
                  soldiers, and his bridgemen on the Shattered Plains. Each of the ten warcamps is enormous, and all
                  told, there are over a hundred thousand troops in the various Alethi camps. This number doesn't count
                  the civilians present. (A mobile camp attracts camp followers; stationary camps like these on the
                  Shattered Plains bring even more.)

                  Each warcamp fills its own crater* and is filled with an incongruous mix of Soulcast buildings,
                  shanties and tents. Even within the crater, the stormwinds can be strong, particularly where the outer
                  wall is low or broken. Some places inside the wall remain completely exposed.

                  Soldiers from one camp didn't mix with those of another, and one stayed away from another Brightlord's
                  crater unless there was business to be done there.

                  Whorehouses are common in every camp.

                  Shallan thinks that the warcamp craters must.
                  Dalinar's warcamp is laid out with blocks of barracks forming a large circle around the lighteyed
                  buildings closer to the center. The market is in the outer ring of camp followers beyond the
                  soldiers.

                  Everything there is arranged so that as many doorways as possible can point away from the Origin of
                  Storms, streets designed so that they can run east to west and provide a way for winds to blow.</p>
                <a href="{{ url_for('stormlight') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">The Stormlight Archives</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/stormlight/STORMSEAT.webp" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Stormseat Map</h5>
                <p class="title-card-text card-text">Stormseat was the capital of Natanatan. It was destroyed during
                  Aharietiam, or the Last Desolation, but this occurred so long ago that nobody talks about just how it
                  happened. Something more terrible than a fire or an earthquake broke the city - shattered it,
                  literally. The ruins of the city are at the center of the Shattered Plains in the Frostlands. It is
                  still connected by Oathgate to Urithiru, and has the only known functioning Oathgate on-world. At some
                  point, Stormseat was destroyed by the same event that transformed the Natan interior into the
                  Shattered Plains. There is some disagreement as to when this happened. Human sources place the
                  destruction of Stormseat at Aharietiam, the last of the old Desolations. Listeners, however, put it
                  significantly earlier, as according to their stories, by the time the Last Legion was sent into the
                  area, the Shattered Plains already existed. In truth, the plains were Shattered by a brief clash
                  between Honor and Odium. Following the destruction, Stormseat wasn't rebuilt, but rather left to
                  crumble. Over time, the nation of Natanatan fell apart, until only a single coastal city, New Natanan,
                  claims descendancy from it. It is perhaps for this reason that when Urithiru was abandoned prior to
                  the Recreance and all the other Oathgates were locked from both sides, the one in Stormseat remained
                  accessible.
                </p>
                <a href="{{ url_for('stormlight') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">The Stormlight Archives</small></p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/static/stormlight/power.webp" class="d-block mx-auto" alt="A Song of Ice and Fire"
                   width="100%">
              <div class="card-body">
                <h5 class="card-title text-center">Power</h5>
                <p class="title-card-text card-text">Power is the in-universe term used for Magic Systems in Powerhouse
                  Universe.
                  Here, the forces that shape the world are not mere tools but the core of identity and heritage, a
                  presence so integral to the nations of this realm that it is simply termed Power.
                  Each kingdom within this boundless cosmos is graced with its own distinct manifestation of Power, a
                  signature force that defines its culture, its populace, and its stance in the ever-evolving tapestry
                  of the realms. These Powers vary as widely as the lands that hold them, from the tempestuous energies
                  harnessed by warriors in the throes of battle to the delicate, complex threads that can mend flesh,
                  spirit, or reveal the hidden truths of the universe.
                  The pride each nation holds in their Power is a vehement blaze, alight with the belief in their
                  ascendancy over their neighbors.
                  In this realm of disparate strengths, the gift of Power is not bestowed equally. In some territories,
                  the force is a precious gem, granted only to a select few who rise to prominence and power. In others,
                  Power permeates the air, a common right shared by all, binding the community together. Beyond the
                  confines of these nations, in the untamed expanses known as the Wastelands, dwell those who transcend
                  the traditional limits of Power. These are the Abnormals, beings whose very essence is a confluence of
                  forces, drawn from the myriad realms.
                </p>
                <a href="{{ url_for('stormlight') }}" class="button-lined btn w-100">Book description</a>
                <p class="card-text"><small class="text-body-secondary">The Stormlight Archives</small></p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel-4"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel-4"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </section>

    </div>


  </main>

{% endblock %}
