{% extends "layout.html" %}

{% block body %}

  <!-- Відео  -->
  {% include "video.html" %}

  <!-- Другий блок сторінки -->

  <div class="page">
    <section id="blockTWO" class="screen blockTWO text-center container-fluid section-slide-wrapper">

      <div class="row" style="height: inherit">
        <div class="col text-start p-5">
          <h2 id="Games" class="pb-4">Games</h2>
          <h3 id="NamesGames" class="title gideon-roman-regular p-5"></h3>
          <p id="descriptionGames" class="libertinus-sans-regular p-lg-5 pe-lg-0 progress-bar-striped py-md-0">
          </p>

          <!-- Контейнер фотографій -->

          <div class="container text-center">
            <div class="row row-cols-auto additional-icons p-5 btn-group">
              <div class="col">
                <img src="/static/ikon/nikky-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/genshin-ikon.webp" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/wuwa-ikon.png" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/creedII-ikon.ico" alt="..." class="additional-icon">
              </div>
            </div>
          </div>
        </div>

        <!-- Іконки фотографій -->

        <div class="col align-self-center">
          <div id="carouselTWO" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselTWO" data-bs-slide-to="0" class="active" aria-current="true"
                      aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselTWO" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselTWO" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselTWO" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/nikky.jpg" class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/genshin.jpg"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/wuwa.jpg"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/assasins.jpg"
                    class="d-block" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTWO" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTWO" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Третій блок сторінки -->

    <section id="blockTHREE" class="screen blockTHREE text-center container-fluid section-slide-wrapper">

      <div class="row" style="height: inherit">
        <div class="col text-start p-5">
          <h2 id="Books" class="pb-4">Books</h2>
          <h3 id="NamesBooks" class="gideon-roman-regular p-5"></h3>
          <p id="descriptionBooks" class="libertinus-sans-regular p-lg-5 pe-lg-0 progress-bar-striped py-md-0">
          </p>

          <!-- Контейнер фотографій -->

          <div class="container text-center">
            <div class="row row-cols-auto additional-icons p-5 btn-group">
              <div class="col">
                <img src="/static/ikon/throne-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/mistborn-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/harry-potter-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/poppywar-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/games-ikon.jpg" alt="..." class="additional-icon">
              </div>
              <div class="col">
                <img src="/static/ikon/way-ikon.jpg" alt="..." class="additional-icon">
              </div>
            </div>
          </div>
        </div>

        <!-- Іконки фотографій -->

        <div class="col align-self-center">
          <div id="carouselTHREE" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="0" class="active" aria-current="true"
                      aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselTHREE" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/img/throne.jpg" class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/mistborn.jpg"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/potter.jpg"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/thepoppywar-yum.jpg"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/Iron_Throne_Official_Guide.webp"
                    class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img
                    src="/static/img/wayofking.jpg"
                    class="d-block" alt="...">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselTHREE" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselTHREE" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>


    </section>

  </div>
{% endblock %}

