{% extends "layout.html" %}
{% block header %}
  <link href="/static/login-style.css" rel="stylesheet">
{% endblock %}


{% block body %}
  <section class="block-log">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <h1>LOG IN</h1>
          <form class="login-form-container" action="/register" method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="mt-3" id="button-verification" type="submit">Log In</button>
          </form>
        </div>
      </div>
    </div>

  </section>


{% endblock %}