{% extends "layout.html" %}
{% block header %}
  <link href="/static/books-style.css" rel="stylesheet">
{% endblock %}


{% block body %}
  <main>
    {% with book_name="MISTBORN", book_img="/static/mistborn/mistborn.jpg", book_description="
        The first Mistborn trilogy is set in a dark world ruled for a thousand years by the tyrannical Lord Ruler,
        where ash constantly falls from the sky and mists shroud the nights. Young heroes discover their powers
        as Mistborn and join a rebellion aiming to overthrow the oppressive regime. Along the way, they face chaos,
        betrayal, prophecies, and the mysteries of the past, striving to save the world from impending disaster.
        The trilogy is a story of freedom, self-discovery, and finding heroism in the darkest times.
      ", book_header_class="mistborn" %}
      {% include "book_header.html" %}

    {% endwith %}
    '

    {% for book in books %}

      {% include "book_desc.html" %}

    {% endfor %}

  </main>

{% endblock %}