{% extends "layout.html" %}
{% block header %}
  <link href="/static/profile-style.css" rel="stylesheet">
  <script src="/static/profile.js"></script>

{% endblock %}


{% block body %}
  <section class="profile" style="min-height: 100vh">
    <div class="profile-header"></div>
    <div class="container">
      <div class="d-flex align-items-center">
        <img src="/static/img/ikon.png" alt="user photo" class="user-photo act rounded-circle">
        <div class="user-info p-5">
          <h2 class="mb-1">{{ user['username'] }}</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="tabs col-2 py-4">
          <div>
            <button class="tab-link active" data-tab="blog">Blog</button>
          </div>
          <div class="my-2">
            <button class="tab-link" data-tab="read_books">Books read</button>
          </div>
          <div>
            <button class="tab-link" data-tab="planned_books">Planned books</button>
          </div>
        </div>

        <div class="col-10">
          <div class="tab-content active" id="blog">
            <form method="POST" action="/add-post">
              <textarea id="contentblog" name="content" placeholder="Write your impressions of the book."></textarea>
              <br>
              <button id="publish" class="btn btn-lg" type="submit">Publish</button>
            </form>
            {% for post in posts %}
              <div class="card my-3 shadow-sm card-footer">
                <div class="card-body">
                  <p class="card-text">{{ post['content'] }}</p>
                  <small class="text-muted modal-footer">{{ post['date'] }}</small>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="tab-content" id="read_books">
            <div class="row">
              {% for book in read_books %}
                <div class="col-md-2 col-sm-4 col-6 mb-4">
                  <div class="card h-100 shadow-sm">
                    <img src="{{ book['bookimg'] }}" class="card-img-top" alt="{{ book['bookname'] }}">
                    <div class="card-body text-center">
                      <h6 class="card-title">{{ book['bookname'] }}</h6>
                      <p class="card-text text-muted" style="font-size: 0.9rem;">{{ book['author'] }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="tab-content" id="planned_books">
            <div class="row">
              {% for book in planned_books %}
                <div class="col-md-2 col-sm-4 col-6 mb-4">
                  <div class="card h-100 shadow-sm">
                    <img src="{{ book['bookimg'] }}" class="card-img-top" alt="{{ book['bookname'] }}">
                    <div class="card-body text-center">
                      <h6 class="card-title">{{ book['bookname'] }}</h6>
                      <p class="card-text text-muted" style="font-size: 0.9rem;">{{ book['author'] }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

{% endblock %}